{% extends 'base.html' %}
{% load static %}

{% block title %}
Tutorials
{% endblock %}

{% block upscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block header %}
Tutorials
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
    {% for tutorial in tutorials %}
        <div class="container mx-auto">
            <div class="col-md-5 mx-auto mt-5" align="center">
                <h1>{{tutorial.tutorial_title}}</h1>
            </div>
            <div class="col-md-5 mx-auto mt-5" align="center">
                <h1>{{tutorial.tutorial_description}}</h1>
            </div>
            <div class="col-md-5 mx-auto mt-5" align="center">
                <h1>{{tutorial.tutorial_uploader}}</h1>
            </div>
            <div class="col-md-5 mx-auto mt-5" align="center">
                <h1>{{tutorial.tutorial_tags}}</h1>
            </div>
            <div class="video col-md-5 mx-auto center p-5 mb-5" align="center">
                <video class="col-md-8 mx-auto border border border-dark rounded bg-secondary p-2" controls>
                    <source src={{tutorial.tutorial_video.url}} type="video/mp4">
                </video>
            </div>
        </div>

        <form action={% url 'likes_tutorial' tutorial.id %} method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">
                <span class="badge badge-info" style="color: white;">{{tutorial.tutorial_like.count}}</span> Likes
            </button>
        </form>
    {% endfor %}
{% endblock %}